@import url('../../.cache/wal/colors-waybar.css');

* {
    font-size:14px;
    font-weight: 700;
    font-family: "JetBrainsMono Nerd Font Propo";
}
window#waybar{
    all:unset;
    background: rgba(0,0,0,0.94);
}
.modules-left {
    padding:7px;
    margin:5 0 5 5;
    border-radius:10px;
    /* background: alpha(@background,.6); */
    /* box-shadow: 0px 0px 2px rgba(0, 0, 0, .6); */
}
.modules-center {
    padding:7px;
    margin:5 0 5 0;
    border-radius:10px;
    /* background: alpha(@background,.6); */
    /* box-shadow: 0px 0px 2px rgba(0, 0, 0, .6); */
}
.modules-right {
    padding:7px;
    margin: 5 5 5 0;
    border-radius:10px;
    /* background: alpha(@background,.6); */
    /* box-shadow: 0px 0px 2px rgba(0, 0, 0, .6); */
}
tooltip {
    background:@background;
    color: @color7;
}
#clock:hover, #custom-pacman:hover, #custom-notification:hover,#bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover{
    transition: all .3s ease;
    color:@color9;
}
#custom-notification {
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;
}
#clock{
    padding: 0px 5px;
    color:@color7;
    transition: all .3s ease;
}
#language {
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;
}
#wireplumber {
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;
}
#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@color7,.9);
    transition: all .2s ease;
}
#workspaces button:hover {
    color: alpha(@color8,.9);
    border: none;
    transition: all 1s ease;
}
#workspaces button.persistent {
    color:red;
    border: none;
}
#workspaces button.empty {
    color: rgba(255,255,255,0.25);
    border: none;
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: @color9;
    border: none;
}
#workspaces button.visible {
    color: @color9;
    border: none;
}
#workspaces button.active {
    color: @color9;
    border: none;
}
#workspaces button.urgent {
    color: @color9;
    border: none;
}
#workspaces button label {
    font-size: 10px;
    font-family: "Symbols Nerd Font Mono";
}
#bluetooth{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;

}
#network{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;

}
#battery{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;


}
#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#group-expand{
    padding: 0px 5px;
    transition: all .3s ease; 
}
#custom-expand{
    padding: 0px 5px;
    color:alpha(@foreground,.2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease; 
}
#custom-expand:hover{
    color:rgba(255,255,255,.2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}
#custom-colorpicker{
    padding: 0px 5px;
}
#cpu,#memory,#temperature{
    padding: 0px 5px;
    transition: all .3s ease; 
    color:@color7;

}
#custom-endpoint{
    color:transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);

}
#tray{
    padding: 0px 5px;
    transition: all .3s ease; 

}
#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease; 
}
